Flask
flask-cors
python-dotenv
torch
transformers
llama_index
llama-index-core
llama-index-embeddings-huggingface
llama-index-llms-groq
firebase-admin
supabase
groq
pymupdf
google-generativeai
pillow
requests